@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary-color: rgb(100, 134, 196);
  --secondary-color: #2b2b2b;
  --secondary-color-transparent: rgba(35, 35, 43, 0.5);
  --text-color: #e5e5e5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
  background: var(--primary-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 100vh;
}

.main-container-inner {
  background: var(--secondary-color-transparent);
  width: clamp(450px, 50vw, 600px);
  padding: 50px 10px;
  min-height: 160px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 8px 14px rgba(1,1,1,0.13);
}

.search-city {
  background: var(--secondary-color-transparent);
  color: var(--text-color);
  width: 90%;
  height: 60px;
  outline: none;
  border: none;
  /* box-shadow: 5px 8px 14px rgba(1,1,1,0.13); */
  border-radius: 30px;
  padding: 25px 35px;
  font-size: 20px;
}

.weather-container {
  text-align: center;
}

.city-name {
  font-size: 30px;
  padding: 30px;
  margin-top: 10px;
}

.celcius-container {
  padding: 0 40px;
  align-items: center;
  justify-content: space-around;
}

.celcius {
  margin: 0 10px;
  font-size: 25px;
}

.weather-icon {
  width: 60px;
  height: 60px;
}

.weather-description {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.error {
  font-size: 15px;
}